/bitrix/.settings.php
/bitrix/catalog_export
/bitrix/backup
/bitrix/cache
/bitrix/html_pages
/bitrix/crontab
/bitrix/managed_cache
/bitrix/managed_flags
/bitrix/modules/*.log
/bitrix/modules/*.log.old
/bitrix/php_interface/crontab
/bitrix/php_interface/dbconn.php
/bitrix/stack_cache
/bitrix/modules/starrys.cashbox/lib/*.txt
/logs
/html
/upload
/bitrix

/test

/.htaccess
/urlrewrite.php
/*.log
/*.sql
/*.txt
/*.xml
/*.dt
.settings.php
!/local/modules/ibrush.main/.settings.php
.access.php
*.zip
*.txt
*.log
/local/php_interface/include/crm_exchange_config.php
*.pdf
/.git/*
*.xls
.htpasswd
*.git
/.ssh/*
robots.txt
test.php
test2.php
/sitemap*
node_modules/
.idea/
*.map
robots.txt
.htaccess
/local/vendor

#/bitrix/modules

